<div class="container">
    <h1>Players</h1>
    <div class="row">
        {{#each players}}
        {{!-- > greater than sign, means that card is a partial --}}
          {{> card}} 
        {{/each}}
    </div>
</div>
