<h2>Book search</h2>
<!-- this form should land on a route 
app.get('/search-results') -->
<form action="/search-results" method="GET">
    <label>Book name</label>
    <input type="text" name="bookName" />
    <label>Book year</label>
    <input type="text" name="bookYear" />
    <button type="submit">Search</button>
</form>