<h2>Create new book</h2>
<form action="/create" method="POST">
    <label>Book name</label>
    <input type="text" name="bookName">

    <label>Book description</label>
    <textarea col="20" rows="4" name="bookDescription"></textarea>

    <button type="submit">Create</button>
</form>